
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1{
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: .7em;
    color: #f18a04;
}

p{
    font-family: "Open Sans", "sans-serif";
}

.Big-box{
    font-size: 56%;
    color: #2bb08f;
}

.right img{
    border: 2px gold solid;
}

.about-boxx{
    justify-content: space-around;
}

.about-box{
    padding: 10px;
}

.p1{
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.p2{
    padding-top: 20px;
    background-image: url(assets/asset\ 35.svg);
    background-repeat: no-repeat;
}

.left{
    flex-direction: column;
    width: 800px;
}

.right img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    border: 2px solid #f18a04;
    padding: 2px;
    border-radius: 6px;
}
